/* Work Sans from Google Font */

@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

/* shared styles */

* {
  font-family: "Work Sans", sans-serif;
}

.section-title {
  font-size: 3rem;
  font-weight: 700;
}

.btn-primary {
  border-radius: 8px;
  color: #fff;
  background: #ff900e;
  padding: 20px 25px;
  font-size: 1.25rem;
  cursor: pointer;
  border: 0;
}

.text-light-gray {
  font-size: 1rem;
  font-weight: 400;
  color: var(--Dark-03, #727272);
}

/* shared styles */

header {
  background: rgba(255, 144, 14, 0.1);
  padding: 50px 240px;
}

/* navigation style */

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav > ul {
  display: flex;
}

nav li {
  list-style: none;
  font-size: 1rem;
  font-weight: 500;
  margin-right: 10px;
}

nav a {
  text-decoration: none;
  color: var(--Dark-02, #424242);
}

/* banner related styles for mobile devices */

.banner-content {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
}

.banner-title {
  font-size: 4rem;
  font-weight: 700;
  color: var(--Dark-01, #131313);
}

.banner img {
  margin-top: 20px;
  width: 100%;
}

/* banner related styles ends here */

/* main styles  */
main {
  max-width: 1100px;
  margin: 50px auto;
}

/* teams container section starts here */

.teams-container {
  display: flex;
  align-items: center;
}

.teams-img-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
}
.teams-content {
  padding-right: 70px;
  padding-left: 70px;
}
.teams-title {
  font-family: 2.8rem;
  font-weight: 700;
}

.teams-title .quick-list {
  font-size: 2.8rem;
  font-weight: 500;
  color: var(--Dark-03, #727272);
}
.teams-title .text-features {
  color: #ff900e;
}

/* teams container section ends here */

/* facts section started here */

.facts-card-container {
  display: flex;
  justify-content: space-around;
  text-align: center;
}

.facts-card-container .card {
  border-radius: 8px;
  border: 1px solid #ff900e;
  padding: 40px 30px;
}

.facts-card-container .card-title {
  font-weight: 600;
  font-size: 1.25rem;
  margin-top: 5px;
}

.facts-card-container .card-stats {
  font-size: 2.8rem;
  color: #424242;
  margin-top: 10px;
  margin-bottom: 10px;
}

/* facts section ends here */

/*sponsor  section  starts here... */

.sponsors {
  text-align: center;
}

.sponsors-img-container {
  margin-top: 50px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 20px;
}

.sponsors-img-container img {
  width: 165px;
}

/* sponsor section ends here.. */

/* responsive styles start here */

@media screen and (max-width: 576px) {
  header {
    padding: 20px;
  }
  nav,
  .teams-container,
  .facts-card-container,
  .sponsors-img-container {
    flex-direction: column;
  }

  .teams-content,
  .facts-card-container {
    padding-right: 20px;
    padding-left: 20px;
  }

  .facts-card-container {
    gap: 20px;
  }

  .teams-img-container {
    grid-template-columns: 1fr;
  }
}

/* responsive styles for mobile ends here.... */

/* responsive styles for medium devices code starts here.... */

@media screen and (min-width: 577px) and (max-width: 960px) {
  header {
    padding: 50px;
  }

  nav,
  .teams-container,
  .sponsors-img-container {
    flex-direction: column;
  }
}

/*responsive styles for medium devices code ends here....   */
